html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:#808080;
}

@import "layout";
@import "headernavbar";
@import "pageTitle";
@import "formFields";
@import "details";


//Auth
@import "auth/signin.scss";
@import "auth/signup.scss";

//Account
@import "./account/purchaseHistory.scss";
@import "./account/accountInformation.scss";
@import "./account/account.scss";

//Shop
@import"./shop/shop";
@import "shopSearchBar";
@import "./shop/shopProduct.scss";

// QUANTITY
@import 'quantity';
@import 'green-price-tag'; 